# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Web_Profile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
